doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hackday Presentation

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 The Hack Pack
        img(src="images/HackPackTeam.png" width="100%")
        
      section
        h3 Where it all began...
        img(src="images/WhereWeStarted.jpg" width="75%")
        
      section
        h4 Finally what we decided on...Mobile Weights
        img(src="images/HackDayConcept.jpg" width="75%")

        
      section
        h3 Improve milk production and increase reproductive performance by optimally feeding our young stock.
        img(src="images/CowKid.jpg" width="75%")
        
      section
        h2 Why should LIC care?
        ul
          li $20m lost milk production every year due to underweight Heifers
          li Good grazing allows cows to realize their genetic potential
          li Getting more live weight data to help improve AE data
          li Make MINDA more relevant for graziers 
          
      section
        h2 What we think we need to tell Graziers
        ul
          li What does she weigh today?
          li What did she weigh previously?
          li What’s her current weight gain?
          li What Average Gain does this girl need to hit her target?
            li Which animals need to be feed more than the rest.
            
            
      section
        h3 What data do we acquire
        
        h5 MINDA
          p EID, Planned Start of Mating, Planned of Calving, Live weight Breeding Value
        h5 Weighing Scales
          p Her current weight
        h5 EID Wand
          p EID

      section
        h2 Domain Experts
        img(src="images/DomainExperts.png" width="100%")

      section
        h2 User Testers
        img(src="images/UserTesters.png" width="100%")
        
      section
        h3 Possible Wheadon Comic

      section
        h2 Demo
        
      section
        h3 What we didn’t get to / What next?
        
        ul
          li Nominate a number of groups that animals should be split into
          li Sync with MINDA …
          li Link with Drafting gate

    script(src='build/build.js')
